/venv
.idea
.DS_Store
models.idea
models/classification_logistic_regression_improved/fasttext/fasttext.bin
models/classification_transformers/pytorch_model.bin
models/clustering/fasttext/fasttext.bin
models/fasttext_search/fasttext.bin
models/preprocessed_data/data.plk
models/preprocessed_data/clf_data.plk
models/QE_fasttext/fasttext.bin
models/QE_fasttext/all_words_vectors_emb_fasttext.json
models/transformers_search/transformer_model.model/pytorch_model.bin
models/transformers_search/transformer_vectors_emb.json
data/news.json
notebooks/.ipynb_checkpoints
credentials
src/config.py
__pycache__/
src/main.py